section.rex-repeater {
  .repeater-group {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #9ca5b2;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #f8f8f8;
    }

    header {
      border-bottom: 3px solid #e9f5ef;
    }

    .button {
      padding: 5px;
      line-height: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #dfe3e9;
      }

      &.move {
        color: #3c4d60;
      }

      &.remove {
        color: #d9534f;
      }
    }
  }

  .flex-wrapper {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .field {
    padding: 0 5px;
  }

  /* utilities... */
  .mb-3 {
    margin-bottom: 1rem;
  }

  .p-0 {
    padding: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pb-3 {
    padding-bottom: 1rem;
  }
}

body.rex-theme-dark {
  section.rex-repeater {
    .repeater-group {
      background-color: #202b35;
      border: 1px solid #182027;

      &:hover {
        background-color: #202b35;
      }

      header {
        border-bottom: 3px solid #182027;
      }

      .button {
        &:hover {
          background-color: #182027;
        }

        &.move {
          color: #aaa;
        }

        &.remove {
          color: #d9534f;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body.rex-has-theme:not(.rex-theme-light) {
    section.rex-repeater {
      .repeater-group {
        background-color: #202b35;
        border: 1px solid #182027;

        &:hover {
          background-color: #202b35;
        }

        header {
          border-bottom: 3px solid #182027;
        }

        .button {
          &:hover {
            background-color: #182027;
          }

          &.move {
            color: #aaa;
          }

          &.remove {
            color: #d9534f;
          }
        }
      }
    }
  }
}
